{% extends 'base.html' %}

{% block body %}
  <nav><ul>
    <li><a href="#about-me">ABOUT ME</a></li>
    <li><a href="#skill">SKILL</a></li>
    <li><a href="experiment.html">EXPERIMENT</a></li>
    <li><a href="#contacts">CONTACTS</a></li>
  </ul></nav>
  {% block views %}
    <h1>This is a home base html</h1>
  {% endblock views %}
{% endblock body %}
