{% extends 'home/home_base.html' %}

{% block views %}
  <section id="experiment">
    <h1>EXPERIMENT TAB</h1>
    <p>This is my section for experimental webkit or other frontend experiment.</p>
  </section>
  <div class="section-break"></div>
  <section id="coming-soon" class="exp">
    <h1>COMING SOON...</h1>
  </section>
{% endblock views %}

