{% extends 'home/base_home.html' %}
{% load staticfiles %}

{% block views %}
    <section id="front-page">
      <div class="back-blur"></div>
      <h1>HELLO,<br>I'M <a href="#about-me">NAUFAL</a></h1>
    </section>
    <section id="about-me">
      <h1>ABOUT ME</h1>
      <div class="middle">
        <img src="me.jpg">
        <p>A CS Student with a great curiosity and spirit to learn everything</p>
      </div>
    </section>
    <div class="section-break">
      <div class="back-blur"></div>
    </div>
    <section id="skill">
      <h1>SKILL</h1>
      <div class="skills-block">
        <i class="fab fa-python" style="font-size: 48px; margin-right: 20px;"></i><div class="skill-container"><div id="python" class="skills" style="width: 90%;"></div></div><br>
        <i class="fab fa-java" style="font-size: 48px; margin-right: 20px;"></i><div class="skill-container"><div id="python" class="skills"></div></div><br>
        <i class="fas fa-code" style="font-size: 48px; margin-right: 20px;"></i><div class="skill-container"><div id="python" class="skills" style="width: 94%"></div></div>
      </div>
    </section>
    <div class="section-break">
      <div class="back-blur"></div>
    </div>
    <section id="contacts">
      <h1>CONTACTS</h1>
      <ul>
        <li><i class="fas fa-envelope"></i></li>
        <li><a href="https://gitlab.com/naufalauddin"><i class="fab fa-gitlab"></i></a></li>
      </ul>
    </section>
{% endblock views %}
