{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}home{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}" type="text/css" >
  </head>
  <body>
    {% block body %}
      <h1>Template H1</h1>
      <p>template paragraph</p>
    {% endblock body %}
  </body>
</html>
